<div class="js-sidebar-content">
  <header class="logo d-none d-md-block">
    <img src="../assets/icon/favicon-32x32.png">
  </header>
  <div class="sidebar-status d-md-none dropdown" dropdown [autoClose]="false" (isOpenChange)="toggleSidebarOverflow($event)" placement="bottom left">
    <a [routerLink]="" class="dropdown-toggle" dropdownToggle>
              <span class="thumb-sm avatar float-right">
        <img class="rounded-circle" src="assets/img/people/a5.jpg" alt="...">
              </span>
      <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
              <span class="circle bg-warning fw-bold text-gray-dark">
                  13
              </span>
      &nbsp;
      Philip <strong>Smith</strong>
      <b class="caret"></b>
    </a>
    <div notifications *dropdownMenu class="dropdown-menu dropdown-menu-left animated animated-fast fadeInUp"></div>
  </div>
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
    <ng-container *ngFor="let seccion of secciones">
      <li *ngIf="seccion.activo">
        <a [routerLink]=" [(seccion.ruta)] ">
        <span class="icon">
            <i class="{{seccion.icono}}"></i>
        </span>
          {{seccion.nombre}}
        </a>
      </li>
    </ng-container>
    
    
  </ul>
  
</div>
