/***********************/
/*    Font Awesome     */
/***********************/
.fa {
  vertical-align: middle;
}

.fa-sm {
  font-size: $font-size-sm;
}

.fa-lg {
  font-size: 1.2rem;
}

.btn > .fa, .circle > .fa {
  vertical-align: baseline;
}

.#{$fa-css-prefix}-spin-fast {
  -webkit-animation: fa-spin 1s infinite linear;
  -moz-animation: fa-spin 1s infinite linear;
  -o-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}


/***********************/
/*glyphicons-halflings */
/***********************/
.glyphicon {
  top: auto;
  vertical-align: middle;
}

.glyphicon-comment:before {
  content:"\E111";
}


/***********************/
/*    Animate.css      */
/***********************/
.animated{
  animation-duration: .5s;
}


/***********************/
/*       Pace          */
/***********************/
.pace .pace-progress{
  background: theme-color('primary');
  position: absolute;
  top: $navbar-height;
}

.pace .pace-activity{
  position: absolute;
  top: 65px;
  border-width: 1px;
  left: 15px;
  right: auto;
  width: 18px;
  height: 18px;
  border-top-color: theme-color('primary');
  border-left-color: theme-color('primary');
}

.pace .pace-progress-inner{
  right: -10px;
  width: 10px;
}
