
@import "../scss/helpers";

.widget {

  min-height: 237px;
}

.tableFilt {

	display: inline-block;
	input, {
		font-size: 1.15rem;
		border:0px;
	}
	.input-group-addon {
		font-size: 1.15rem;
		border:0px;
	}
}
.hiddable input{

	display: none;
	width: 0px;
}
.searchActive {

	
	
	animation-name: expandInput;
    animation-duration: 2s;
}
tr:nth-child(even) {background-color: #e9e9e9;}
@keyframes expandInput {
    from {width: 0px;}
    to {width: auto;}
}
.invisibleTable th, .invisibleTable td{

    padding-top:0px;
    padding-bottom:0px; 
}
.invisibleTable div{

    overflow:hidden;
    white-space: nowrap;
    height: 0px;
}

 table.putaTabla {
      display: table;
      width: 100%;
    }

    table.putaTabla thead,
    table.putaTabla tbody {
      width: 100%;
    }

    table.putaTabla thead {
      overflow-y: scroll;
      display: table;
      table-layout: fixed;
      width: calc(100% - 16px); /* assuming scrollbar width as 16px */
    }

    table.putaTabla tbody {
      overflow: auto;
      height: 350px;
      display: block;
    }

    table.putaTabla tr {
      width: 100%;
      text-align: left;
      display: table;
      table-layout: fixed;
    }
    table.putaTabla tr td{
        white-space: nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
/*
table.putaTabla {

    display: table;
    width: 100%;
}
table.putaTabla thead, table.putaTabla tbody {
        float: left;
        width: 100%;
}
table.putaTabla tbody {
        overflow: hidden;
        height: 150px;
}
table.putaTabla tr {
        width: 100%;
        display: table;
        text-align: left;
}
*/
/*.dynTHead, .dynTBody{

    display:table;
    width:100%;
}
.dynTRow {

    display:table-row;width:100%;
}
.dynTHitem, .dynTItem{

    display:table-cell;
}*/
/*Experimento con la tabla*/
