<div class="col-md-12">
	<div class="row">
		<div class="col-md-12" align="right">
			<div class="tableFilt" *ngIf='hayFecha'>
			    <div class="input-group input-group-sm input-group-transparent input-group-rounded">
			        <a class="input-group-addon pt-0">
			            <i class="mdi mdi-calendar-today"></i>
			        </a>
			        <input class="form-control form-control-sm" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Desde">
					<owl-date-time #dt1></owl-date-time>
			    </div>
			</div>
			<div class="tableFilt" *ngIf='hayFecha'>
			    <div class="input-group input-group-sm input-group-transparent input-group-rounded">
			        <a class="input-group-addon pt-0">
			            <i class="mdi mdi-calendar"></i>
			        </a>
			        <input class="form-control form-control-sm" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Hasta">
					
					<owl-date-time #dt2></owl-date-time>
			    </div>
			</div>
			<div class="tableFilt">
			    <select class="selectpicker" data-style="btn-link btn-sm pt-0  pb-0"
                        data-width="auto"
                        tabindex="-1" id="sort-select" >
	                <option value="0">Estatus</option>
	                <option *ngFor="let status of sts" [value]="status.value">{{status.name}}</option>
	                
                </select>
			</div>
			<div class="tableFilt ">
			    <div class="input-group input-group-sm input-group-transparent input-group-rounded">
			        <a class="input-group-addon pt-0" (click)="toggleSearchBox()">
			            <i class="fa fa-search"></i>
			        </a>
			        <input class="form-control form-control-sm" id="table-search-input" type="text" placeholder="Buscar">
			    </div>
			</div>
			
		</div>
	</div>
	<hr class='mt-0'/>
	<div class="row">
		<div class="col-md-12">		
			<table class="table table-lg mt-0 mb-0 text-muted putaTabla">
			    <thead>
			        <tr>
			            <th *ngFor="let header of headers">
				            {{header.name}}
			            </th>            
			        </tr>
			    </thead>
			    <tbody>
			        <tr *ngFor="let renglon of renglones">          
			        	<td *ngFor="let header of headers; let idx = index " [innerHtml]="renglon.rngS[idx] | safePipe: 'html'"></td>
			        </tr>         
			    </tbody>
			</table>
		</div>
	</div>
</div>
