<div class="dashboard-controls">
  <a [routerLink]=" ['../dashboardChart'] "><i class="mdi mdi-chart-arc"></i></a>
  <a [routerLink]=" ['../dashboardMain'] "><i class="mdi mdi-format-list-bulleted"></i></a>
  <a [routerLink]=" ['../dashboardMap'] "><i class="mdi mdi-google-maps"></i></a>

</div>
<h1 class="page-title"><span class="fw-semi-bold">{{this.nombreEmpresa}}</span></h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">Administración</li>
    <li class="breadcrumb-item active">Proyectos</li>
</ol>
<div class="row">
  <div class="col-md-3">
    
    <section class="widget" widget>
        <header>
          <h5>
            <span class="fw-semi-bold">Entregas concluidas</span>
          </h5>          
        </header>
        <div class="widget-body clearfix">
          <div class="text-center">
            <div class="easy-pie-chart mb-lg" [attr.data-percent]="0">{{paqInfo.entConcluidas}}%</div>
          </div>
          <h6>
            <span class="fw-semi-bold">Total</span>
          </h6>            
        </div>
      </section>
  </div>
  <div class="col-md-3">
    
    <section class="widget" widget>
        <header>
          <h5>
            <span class="fw-semi-bold">Entregas por concluir</span>
          </h5>          
        </header>
        <div class="widget-body clearfix">
          <div class="text-center">
            <p class="fs-ultralarger text-muted fw-bold counterLabel">
              {{paqInfo.entXconcluir}}
            </p>
            
          </div>
          <h6>
            <span class="fw-semi-bold">Total</span>
          </h6>            
        </div>
      </section>
  </div>
  <div class="col-md-3">
    
    <section class="widget" widget>
        <header>
          <h5>
            <span class="fw-semi-bold">Rechazadas</span>
          </h5>          
        </header>
        <div class="widget-body clearfix">
          <div class="text-center">
            <p class="fs-ultralarger text-muted fw-bold counterLabel">
              {{paqInfo.rechazadas}}%
            </p>            
          </div>
          <h6>
            <span class="fw-semi-bold">Total</span>
          </h6>            
        </div>
      </section>
  </div>
  <div class="col-md-3">    
    <section class="widget" widget>
        <header>
          <h5>
            <span class="fw-semi-bold">Rutas concluidas</span>
          </h5>          
        </header>
        <div class="widget-body clearfix">
          <div class="text-center">
            <p class="fs-ultralarger text-muted fw-bold counterLabel">
              {{paqInfo.rutConcluidas}}
            </p>            
          </div>
          <h6>
            <span class="fw-semi-bold">Total</span>
          </h6>            
        </div>
      </section>
  </div>
  <div class="col-md-3">    
    <section class="new-widget">
      
      <div class="widget-body clearfix">
        
        <div class="text-center">
          <p class="fs-ultralarger text-muted fw-bold">
            <i class="mdi mdi-plus" style="font-size: 6rem;"></i>
          </p>            
        </div>
        <h6 class="text-center text-muted">
          <span class="fw-semi-bold">Agregar widget</span>
        </h6>            
      </div>
    </section>
  </div>
</div>

<div bsModal #modalWin="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button (click)="modalWin.hide()" aria-label="Close" class="close ml-auto" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center fw-bold" id="myModalLabel18">Crear nuevo proyecto</h4>
        
      </div>
      <div class="modal-body"  style="color: #333;">
        <form class="form-horizontal" role="form">
          <fieldset>
            <div class="form-group row">
              <label for="nombreProyecto" class="col-md-4  col-form-label text-md-right">Nombre del proyecto </label>
              <div class="col-md-7 ">
                <input type="text" id="nombreProyecto" class="form-control" placeholder="May have placeholder">
              </div>
            </div>
            <div class="form-group row">
              <label for="estadoProyect" class="col-md-4  col-form-label text-md-right">Estado </label>
              <div class="col-md-7 ">
                <input type="text" id="estadoProyecto" class="form-control" placeholder="May have placeholder">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-right" for="prepended-input">Prepended input</label>
              <div class="col-md-7 ">
                <div class="input-group">
                  
                  <input id="prepended-input" class="form-control" size="16" type="text" placeholder="Username">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                </div>
              </div>
            </div>
            
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-gray" (click)="modalWin.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="modalWin.hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalWin2="bs-modal" id="modalWin2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <button (click)="modalWin2.hide()" aria-label="Close" class="close ml-auto" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title text-center fw-bold" id="myModalLabel18">Crear nueva tarea</h4>
        
      </div>
      <div class="modal-body" style="color: #333;">
        <form class="form-horizontal" role="form">
          <fieldset>
            <div class="form-group row">
              <label for="nombreTarea" class="col-md-4  col-form-label text-md-left">Nombre de la tarea</label>
              <div class="col-md-8 ">
                <input type="text" id="nombreTarea" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="destinatarioTarea" class="col-md-4  col-form-label text-md-left">Destinatario </label>
              <div class="col-md-8 ">
                <input type="text" id="destinatarioTarea" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="correoTarea" class="col-md-4  col-form-label text-md-left">Correo electrónico </label>
              <div class="col-md-8 ">
                <input type="text" id="correoTarea" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label for="telefonoTarea" class="col-md-4  col-form-label text-md-left">Teléfono </label>
              <div class="col-md-8 ">
                <input type="text" id="telefonoTarea" class="form-control" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-left" for="direccionTarea">Dirección</label>
              <div class="col-md-8 ">
                <div class="input-group">
                  
                  <input id="direccionTarea" class="form-control" size="16" type="text" placeholder="">
                  <span class="btn-danger bg-danger input-group-addon"><i class="mdi mdi-map-marker"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4  col-form-label text-md-left" for="estatusTarea">Estatus</label>
              <div class="col-md-8 ">
                <div class="input-group">
                  
                  <input id="estatusTarea" class="form-control" size="16" type="text" placeholder="">
                  <span class="btn-warning bg-warning input-group-addon"><i class="mdi mdi-plus"></i></span>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="fechaTarea" class="col-md-4  col-form-label text-md-left">Fecha compromiso</label>
              <div class="col-md-8 ">
                <input type="text" id="fechaTarea" class="form-control" placeholder="">
              </div>
            </div>
            
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="modalWin2.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="modalWin2.hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>

