<div class="dashboard-controls">
  <a [routerLink]=" ['../dashboardChart'] "><i class="mdi mdi-chart-arc"></i></a>
  <a [routerLink]=" ['../dashboardMain'] "><i class="mdi mdi-format-list-bulleted"></i></a>
  <a [routerLink]=" ['../dashboardMap'] "><i class="mdi mdi-google-maps"></i></a>

</div>
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" class="content-map">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true">
  </sebm-google-map-marker>
</sebm-google-map>
<nav sidebar id="mapbar" role="navigation" class="mapbar sidebar">
  <div class="js-sidebar-content">
    <header>
      <h5 style="margin: 20px 0px 15px 45px;max-width: 215px;overflow: hidden;height: 25px;">The <span class="fw-semi-bold">Angular</span> Way</h5>
      <div class="backMap">
        
        <a data-widgster="collapse" title="Collapse" href="#"><i class="mdi mdi-arrow-collapse-left"></i></a>
        
      </div>
      <div class="map-controls">
        
        <a data-widgster="collapse" title="Collapse" href="#"><i class="mdi mdi-close"></i></a>
        
      </div>
    </header>
    <div class="widget-body">
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="false" class="element-info" href="#">
                <div class="row">
                  <div class="col-md-3">
                    <span class="fw-normal badge badge-pill p-0 text-white" style="height: 50px;width: 50px;">
                      <img class="rounded-circle" src="assets/img/people/a5.jpg" alt="..." style="height: 3.4rem;">
                      
                    </span>
                  </div>
                  <div class="col-md-9">
                    <p class="text-ellipsis m-1">
                      <strong>Hola Hola</strong>
                    </p>                    
                    <p class="help-block m-1">
                      <span class="fw-normal badge badge-pill p-1 text-white" style="height: 22px;width: 23px;background-color: red;" title="Servicio 1" data-placement="bottom">
                        <i class="mdi mdi-radar" style="font-size: 1.2rem;position:relative;top:0px;"></i>&nbsp;     
                      </span>
                      <span class="fw-normal badge badge-pill p-1 text-white" style="height: 22px;width: 23px;background-color: red;" title="Servicio 2" data-placement="bottom">
                        <i class="mdi mdi-radar" style="font-size: 1.2rem;position:relative;top:0px;"></i>&nbsp;     
                      </span>
                      <span class="fw-normal badge badge-pill p-1 text-white" style="height: 22px;width: 23px;background-color: red;" title="Servicio 3" data-placement="bottom">
                        <i class="mdi mdi-radar" style="font-size: 1.2rem;position:relative;top:0px;"></i>&nbsp;     
                      </span>
                    </p>
                    
                  </div>
                </div>                               
          </div>
        </div>
          
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <div class="input-group input-group-transparent">
            <input id="transparent-input" class="form-control" type="search" [(ngModel)]="searchText1"/>
            <span class="input-group-addon">
              <i class="mdi mdi-magnify"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 ">
          <p class="m-1" style="padding: 8px 0px;">
            <span>{{this.cuantasEntregas}} Entregas</span>
          </p>
        </div>
        <div class="col-md-7 ">
          <select class="selectpicker" data-style="btn-link btn-sm"
                        data-width="auto"
                        tabindex="-1" id="sort-select" [(ngModel)]="sortText1">
                  <option value="0"><i class="mdi mdi-filter-variant"></i>Ordenar por</option>
                  <option [ngValue]="1"><i class="mdi mdi-filter-variant"></i>Nombre</option>
                  <option [ngValue]="2"><i class="mdi mdi-filter-variant"></i>Fecha</option>
                </select>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">          
            <div id="mapEntryList" class="list-group thin-scroll" style="height: 63vh;overflow-y: scroll;">          
              <a class="list-group-item" href="#" *ngFor="let listItem of listItems" [ngSwitch]="listItem.tipoIcono">
                <div class="row">
                  <div class="col-md-2">
                    <span class="fw-normal badge badge-pill p-1 text-white" style="height: 35px;width: 35px;" [style.background-color]="listItem.colorcillo">
                      <i class="mdi mdi-{{listItem.icono}}" style="font-size: 1.7rem;position:relative;top:6px;" *ngSwitchCase="1"></i>
                      <span style="font-size: 22px;position: relative;top: 6px;" *ngSwitchCase="2">{{listItem.icono}}</span>
                    </span>
                  </div>
                  <div class="col-md-10">
                    <p class="text-ellipsis m-1">
                      <strong>{{listItem.mainName}}</strong> </p>
                    <div class="bg-gray-lighter progress progress-xs">
                      <div class="progress-bar progress-xs bg-success" [ngStyle]="{ 'width': listItem.barrita}"></div>
                    </div>
                    <p class="help-block m-1">
                      <span>{{listItem.entregas}} Entregas · {{listItem.rutas}} rutas</span>
                    </p>
                    <time class="help-block m-1">
                      <i class="mdi mdi-calendar"></i>
                      &nbsp;
                      {{listItem.cuando}}
                    </time>
                  </div>
                </div>                               
              </a>
                         
            </div>          
        </div>        
      </div>
    </div>
    
    
  </div>

</nav>
<div class="container">

    <section class="widget statistics" widget>
        <header>
          <div class="clearfix">
            <ul class="nav nav-tabs float-left" id="myTab" role="tablist">
              <li class="nav-item btn-xs mb-xs">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dispatch" role="tab" aria-controls="dispatch" aria-expanded="true">Dispatch</a>
              </li>
              <li class="nav-item btn-xs mb-xs">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-expanded="false">Dashboard</a>
              </li>
              
            </ul>
          </div>
          <div class="widget-controls">            
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
          </div>       
        </header>
        <div class="widget-body clearfix">
          
          <div class="tab-content mb-lg" id="dsh">
            <div role="tabpanel" class="tab-pane active in clearfix" id="dispatch" aria-labelledby="dispatch-tab" aria-expanded="true">
              <div id="dispatchEntryList" class="list-group thin-scroll" style="height: 63vh;overflow-y: scroll;">          
                <a class="list-group-item" *ngFor="let dispatchItem of dispatchItems">
                  <div class="row">
                    <div class="col-md-2">
                      <span class="fw-normal badge badge-pill p-1 text-white" style="height: 25px;width: 25px;" [style.background-color]="dispatchItem.colorcillo">
                        <i class="mdi mdi-{{dispatchItem.icono}}" style="font-size: 1.3rem;position:relative;top:6px;"></i>
                        
                      </span>
                    </div>
                    <div class="col-md-10">
                      <p class="text-ellipsis m-1">
                        <strong>{{dispatchItem.mainName}}</strong> </p>                      
                      
                      <time class="help-block m-1">
                        
                        {{dispatchItem.cuando}}
                      </time>
                    </div>
                  </div>                               
                </a>
                           
              </div>              
            </div>
            <div class="tab-pane" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab" aria-expanded="false">
              <div id="dashEntryList" class="list-group thin-scroll col-sm-12" style="max-height: 63vh;overflow-y: auto;">          
                <a class="list-group-item" *ngFor="let dashItem of dashItems">
                  <div class="row">
                    <div class="col-md-4 pr-0">
                      <span>
                        <i class="mdi mdi-{{dashItem.dashIcon}}" style="font-size: 1.7rem;"></i><span style="font-size: 10px;">{{dashItem.extraIcon}}</span>
                        
                      </span>
                    </div>
                    <div class="col-md-8">
                      <p class="text-right text-ellipsis">{{dashItem.lectura}}&nbsp;{{dashItem.units}}</p>                    
                    </div>
                  </div>                               
                </a>
                           
              </div> 
            </div>
           
          </div>        
        </div>
      </section>
 
</div>