 <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="login-container" >

                    <div class="row">
                        <div class="col col-lg-4 hidden-sm-down">

                        </div>
                        <div class="col col-lg-4 hidden-sm-down">

                        </div>
                        <div class="col col-lg-4">
                            <div class="session-container">
                                <div class="session-container-inner">
                                    <div class="et-image">
                                        <img src="../assets/img/Logo_delivery.svg" alt="Delivery" height="60">
                                    </div>
                                    <div class="info-login" *ngIf="this.Login">
                                        
                                        <div class="group">
                                            <input type="text"  [(ngModel)]="login.LogUser" (keyup)="$event.keyCode == 13 && LoginSession()">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Usuario</label>
                                        </div>
                                        <div class="group">
                                            <input type="password"  [(ngModel)]="login.LogPass" (keyup)="$event.keyCode == 13 && LoginSession()">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Contraseña</label>
                                        </div>
                                        <span class="forgot-pass"><a (click)="ForgotPass()">¿Olvidaste tu contraseña?</a></span>
                                        <div class="space">
                                            <div class="button  clickable" (click)="LoginSession()">
                                                
                                                <div class="anim"></div><span>Entrar</span>

                                            </div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                    <div class="info-recover" *ngIf="this.Recover">
                                        <div class="group">
                                            <input type="text" required ng-model="EmailRecover" ng-keyup="$event.keyCode == 13 && RequestForgot()">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label>Correo electronico</label>
                                        </div>
                                        <a (click)="ForgotPass()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Volver a login</a>
                                        <div class="space">
                                            <div class="button  clickable" (click)="RequestForgot()">
                                                <div class="anim"></div><span>Enviar </span>

                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>


                                    <div class="social-media-inner">
                                        <div class="follow-us">

                                            <i class="fa fa-facebook size-24px cursor" aria-hidden="true" (click)="fb()" ></i>
                                            <i class="fa fa-twitter size-24px cursor" aria-hidden="true" (click)="tw()"></i>

                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
            <div class="mastfoot">
                <div class="inner">
                    <!--<p><a href="#" ng-click="Politics()">Políticas de privacidad.</a></p>-->
                    <p>Copyright &copy; Todos los derechos reservados V2.0</p>
                </div>
            </div>
        </div>
        </div>
    </div>
