@import "../scss/helpers";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

/***********************************/
/**             LOGIN             **/
/***********************************/

.login-page{
  background-color: $gray-light;
}

.login-page .page-footer {
  margin-bottom: 25px;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
  @media (min-height: 600px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.widget-login-container{
  padding-top: 10%;
}

.widget-login-logo{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-weight-normal;
  .fa-circle{
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-login{
  padding: 30px;

  > header{
    h1,h2,h3,h4,h5,h6{
      font-weight: $font-weight-normal;
      text-align: center;
    }
  }
}

.widget-login-info{
  font-size: $font-size-mini;
  color: #888;
  margin-top: 1px;
  margin-bottom: 0;
  text-align: center;
}

.login-form{
  .form-control{
    font-size: $font-size-mini;
    border: none;
    background-color: $gray-200;
    &:focus{
      background-color: $gray-600;
    }
  }
}




/*Extra*/
.login-page.app {


  background-image: url("../../assets/img/login/login_ever.jpg");
  background-size: cover;
}
.site-wrapper {
    
    color:white !important;
      * { box-sizing:border-box; }
    /*
     * Globals
     */

    /* Links */
    a,
    a:focus,
    a:hover {
      color: #fff;
    }

    /* Custom default button */
    .btn-default,
    .btn-default:hover,
    .btn-default:focus {
      color: #333;
      text-shadow: none; /* Prevent inheritance from `body` */
      background-color: #fff;
      border: 1px solid #fff;
    }


    /*
     * Base structure
     */


    .session-container{
        padding: 20px 70px 20px 20px;    
        margin-top: 50px; 
        
    }
    .session-container-inner{
      background-color: rgba(0, 0, 0, .5);
      height: 400px;
      border-radius: 5px
    }
    .mastfoot{
      padding-left: 30px;
          text-align: left;
          margin-top: 80px;      
        }
     .et-image{
       padding: 20px;
       text-align: right;
     

     }
     .info-login{
       padding: 0 20px;
       text-align: left;

       
     }
     .info-recover{

         padding: 0 20px;
       text-align: left;
     }
    .social-media-inner{
      padding-left: 20px;
      padding-top: 10px;
      
      text-align:left;
    }
    .size-24px{
      font-size: 24px;
      padding: 10px;
    }
    .follow-us{
      text-align: left;

    }
    .group        { 
      position:relative; 
      margin-bottom:30px; 
    }
    input         {
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width:100%;
      border:none;
      background: rgba(0, 0, 0, 0);
      border-bottom:1px solid #8C8C8C;
      color:white;
    }
    input:focus     { outline:none; }

    /* LABEL ======================================= */
    label          {
      color:#BCBCBC; 
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label    {
      top:-20px;
      font-size:14px;
      color:#FFF;
    }

    /* BOTTOM BARS ================================= */
    .bar  { position:relative; display:block; width:100%; }
    .bar:before, .bar:after   {
      content:'';
      height:2px; 
      width:0;
      bottom:1px; 
      position:absolute;
      background:#FFF; 
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%; 
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%; 
      width:100px; 
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }


    .button {  
      padding: 10px;
      text-align: center;
      width: 150px;
      border-radius: 0px;
      overflow: hidden;
      position: relative;
      z-index: 0;
      cursor: pointer;
      border: 1px solid #757575;
      font-size: 16px;
      
      
    }
    .forgot-pass{  
      margin-top: -20px;
      float: right;
      padding-bottom: 20px;

    }
    .clear{
      clear: both;
    }
    .button.raised {
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
      background: #0c84e4;
      box-shadow: 0px 1px 1px #085a9b;
    }
    .button.raised:active {
      background: #0c7dd8;
      box-shadow: 0px 1px 1px #063e6b;
    }

    .anim {
      -moz-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
    }
    .anim:before {
      position: relative;
      content: '';
      display: block;
      margin-top: 100%;
    }
    .anim:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
    }

    .clickable .toggle:checked + .anim {
      -moz-animation: anim-in 0.75s;
      -webkit-animation: anim-in 0.75s;
      animation: anim-in 0.75s;
    }
    .clickable .toggle:checked + .anim:after {
      -moz-animation: anim-in-pseudo 0.75s;
      -webkit-animation: anim-in-pseudo 0.75s;
      animation: anim-in-pseudo 0.75s;
    }
    .clickable .toggle:not(:checked) + .anim {
      -moz-animation: anim-out 0.75s;
      -webkit-animation: anim-out 0.75s;
      animation: anim-out 0.75s;
    }
    .clickable .toggle:not(:checked) + .anim:after {
      -moz-animation: anim-out-pseudo 0.75s;
      -webkit-animation: anim-out-pseudo 0.75s;
      animation: anim-out-pseudo 0.75s;
    }
    input[type="checkbox"].toggle {
      -moz-appearance: none;
      -webkit-appearance: none;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      left: 0;
      top: 0;
      cursor: pointer;
      border-bottom: none;
    }
    input[type="checkbox"].toggle:focus {
      outline: 0;
    }
    .space{
      margin-top: 10px;
      float: right;
    }


    /**/


    .modal.fade .modal-dialog {
        text-shadow:none;
        color:#000;
        opacity: 0;
        -webkit-transform: scale(0.1);
          -ms-transform: scale(0.1);
           -o-transform: scale(0.1);
            transform: scale(0.1);
        -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
      }

      .modal.fade.in .modal-dialog {
        opacity: 1;
        -webkit-transform: scale(1);
          -ms-transform: scale(1);
           -o-transform: scale(1);
            transform: scale(1);
        -webkit-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
           -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
      }

    /* DIALOG CONTENT */
      .modal-content {
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
           -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
            box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
      }

    /* DIALOG HEADER */
    .modal-header {
      min-height: 16px;
      padding: 24px;
      border-bottom: none;
    }

    .modal-title {
      font-weight: 500;
      font-size: 21px;
    }

    /* DIALOG BODY */
    .modal-body {
      padding: 0 24px;
    }

    .modal-body p {
      font-weight: 400;
      font-size: 14px;
      color: #212121;
    }

    .modal-body .lead {
      font-weight: 300;
      font-size: 16px;
      color: #757575;
    }

    .modal-body p:last-child,
    .modal-body .lead:last-child {
      margin-bottom: 0;
    }

    /* DIALOG FOOTER */
    .modal-footer {
      margin-top: 24px;
      padding: 8px 0;
      border-top: none;
    }

    .modal-footer .btn {
      height: 36px;
      margin-right: 8px;
      padding: 8px 10px;
      border: none;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 500;
      color: #009688;
      background-color: #fff;
    }

    .modal-footer .btn:focus {
      outline: none;
      box-shadow: none;
    }

    .modal-footer .btn:focus,
    .modal-footer .btn:hover {
      color: #00796B;
    }

    .modal-footer .btn + .btn {
      margin-left: 0;
    }

    .modal-footer .btn + .btn:last-child {
      margin-left: -4px;
    }
    .cursor{
        cursor:pointer;
        cursor:hand;
    }

        
    .btn-inverse {
      color: #fff;
      background-color: #454545;
      border-color: transparent;
    }

    .btn-inverse:focus,
    .btn-inverse.focus {
      color: #fff;
      background-color: #2b2b2b;
      border-color: rgba(0, 0, 0, 0);
    }

    .btn-inverse:hover {
      color: #fff;
      background-color: #2b2b2b;
      border-color: rgba(0, 0, 0, 0);
    }

    .btn-inverse:active,
    .btn-inverse.active,
    .open > .dropdown-toggle.btn-inverse {
      color: #fff;
      background-color: #2b2b2b;
      border-color: rgba(0, 0, 0, 0);
    }


    .alert {
      padding-left: 30px;
      font-size: 13px;
    }

    .alert span {
      cursor: pointer;
    }

    .alert:not(.alert-dismissible) {
      padding-right: 30px;
    }

    .alert.alert-dismissable {
      padding-right: 44px;
    }

    .alert-inverse {
      background-color: #333;
      border-color: transparent;
      color: #fff;
    }

    .alert-inverse hr {
      border-top-color: rgba(0, 0, 0, 0);
    }

    .alert-inverse .alert-link {
      color: #e6e6e6;
    }

    .growl-animated.alert-inverse {
      box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
    }

    .growl-animated.alert-info {
      box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
    }

    .growl-animated.alert-success {
      box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    }

    .growl-animated.alert-warning {
      box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
    }

    .growl-animated.alert-danger {
      box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
    }

    .swal2-content{
        font-size:14px;

    }

    .swal2-container{
        font-family:'Roboto';
    }
    .swal2-modal {
        
      border-radius: 2px;
      padding: 10px 30px;
    }
    .swal2-modal h2 {
      font-size: 16px;
      font-weight: 400;
      position: relative;
      z-index: 1;
    }
    .swal2-modal .lead {
      font-size: 13px;
      width:350px;
    }

    .swal2-confirm{
       
        
    }
    .swal2-modal button.styled{
         font-size:12px;
         background-color: rgb(92, 145, 174) !important; 
         border-left-color: rgb(92, 145, 174) !important; 
         border-right-color: rgb(92, 145, 174) !important; 
    }

    .swal2-modal .btn {
      padding: 6px 12px;
      font-size: 13px;
      margin: 20px 2px 0;
    }

  
}


@media only screen and (max-width : 480px) {

  .site-wrapper {

    .session-container {
        padding: 20px;
        height: 400px;
        margin-top: 10px;    
    } 

    
    .mastfoot{
      margin-top: 100px;      
    }
  }
    
}

/* form starting stylings ------------------------------- */


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#FFF; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#FFF; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#FFF; }
  to  { width:0; background:transparent; }
}


@-webkit-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: transparent;
  }
}

/*<div data-growl="container" class="alert alert-inverse growl-animated animated bounceIn" role="alert" data-growl-position="top-right" style="position: fixed; margin: 0px; z-index: 1031; display: inline-block; top: 205px; right: 20px;"><button type="button" aria-hidden="true" class="close" data-growl="dismiss" style="display: none; z-index: 1030;">×</button><span data-growl="icon"></span><span data-growl="title"></span><span data-growl="message">No es posible registrar este correo!</span><a href="#" data-growl="url"></a></div>*/

/**  ********************************************************************** **/
/* ----- DIALOG/MODAL ----- */
/* FADE/SCALE EFFECT */
  