
@import "../scss/helpers";

.widget {

  min-height: 237px;
}

/***********************/
/*   Easy Pie Chart    */
/***********************/


.easy-pie-chart{
  position: relative;
  display: inline-block;
  line-height: 120px;
  height: 120px;
  width: 120px;
  text-align: center;
  color: $gray-600;
  font-size: 2.2rem;
  font-weight: bold;
  canvas{
    position: absolute;
    top: 0;
    left: 0
  }
}

/*Dashboard controls*/

.dashboard-controls{
  position: absolute;
  z-index: 1;
  top: 40px;
  right: 0px;
  padding: 14px;
  font-size: 2rem;

  &.left{
    left: 0;
    right: auto;
  }

  &.dashboard-controls-hover{
    opacity: 0;
    @include transition(opacity .15s);
  }



  > a{
    padding: 1px 10px;
    border-radius: 4px;
    color: rgba($black, .7);
    @include transition(color .15s ease-in-out);

    &:hover{
      color: rgba($black, .3);
      text-decoration: none;
    }
  }

  > .btn-group{
    vertical-align: baseline;
  }
  
  
}
sebm-google-map { height: 100% }
.content-map {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.mapbar{
  position: absolute;
  z-index: 0;
  left: 0;
  top: 50px;
  bottom: 0;
  width: $mapbar-width;
  background-color: white;
  color: #333;

  .slimScrollBar{
    @include border-radius(0 !important);
    background-color: $sidebar-color !important;
  }
}

.map-controls {

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 14px;
  font-size: 1.5rem;
  color: #333;

}
.backMap {

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 14px;
  font-size: 1.5rem;
  color: #333;
  
}
.mapbar .widget-body {


  padding: 10px;
}
.mapbar input[type="search"], .mapbar input[type="text"], .input-group-addon {

  border-top: 0px;
  border-right:0px;
  border-left:0px;

}
.input-group-addon {

  font-size: 20px;

}

input[type="search"]:after {

  content: '<i class="mdi mdi-magnify"></i>'
}
.list-group .list-group-item {

  color: #333;
}

#modalWin2 .modal-dialog {

  max-width: 650px;
}
#modalWin2 form {

  padding-left:12%;
  padding-right:12%;
}

.bootstrap-select {
  .dropdown-toggle {
    padding-left: 10px;

    &:after {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .dropdown-menu > li > a {
    display: block;
    width: 100%; // For `<button>`s
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    text-align: inherit; // For `<button>`s
    white-space: nowrap; // prevent links from randomly breaking onto new lines
    background: none; // For `<button>`s
    border: 0; // For `<button>`s

    @include hover-focus {
      color: $dropdown-link-hover-color;
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
    }

    // Active state
    &.active {
      @include plain-hover-focus {
        color: $dropdown-link-active-color;
        text-decoration: none;
        background-color: $dropdown-link-active-bg;
        outline: 0;
      }
    }

    // Disabled state
    //
    // Gray out text and ensure the hover/focus state remains gray
    &.disabled {
      @include plain-hover-focus {
        color: $dropdown-link-disabled-color;
      }

      // Nuke hover/focus effects
      @include hover-focus {
        text-decoration: none;
        cursor: $cursor-disabled;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
      }
    }
  }
}

.statistics {

  position: absolute;
  right: 50px;
  width: 230px;
  max-height: 80vh;
  padding: 8px 5px;
  color: black;

  .tab-content{

    .tab-pane {

      padding: 0;
    }
  }
  .list-group-item {

    padding: 1px 10px;

    p {

      margin: 0;
      padding-top: 7px;
    }
  }
  .nav-tabs {
    background-color: white;
    
    .nav-item {

      background-color: #FFF;
      color: black;
      .nav-link {

        padding: 2px 2px;
        color:black;
      }
      .nav-link.active {

        background-color: #ddd;
        font-weight: bold;
      }
    }
    
  }
}

.new-widget {
    position: relative;
    margin-bottom: 30px;
    padding: 15px 20px;
    background: transparent;
    border-radius: 0.7rem;
    border: 6px dashed #868e96;
}
.element-info {

  padding: 0.75rem 1.25rem;
}