<h1 class="page-title">Rutas</h1>
<ol class="breadcrumb">
	<li class="breadcrumb-item">Administración</li>
    <li class="breadcrumb-item active">Rutas</li>
</ol>

<div class="widget-container">
	<div class="row">
		<div class="col-md-12">
			<section class="widget" widget>
		        
		        <div class="widget-body clearfix">
		        	<div class="mt">
			          	<div class="row">
			            	<div class="col-md-12">
			              		<div class="float-right text-right">
			                		<button class="btn btn-link pt-0 pb-0" (click)="modalCreate.show()" style="text-decoration: none;">
			                  			<i class="mdi mdi-plus-circle"></i>
			                  			&nbsp;
			                  			<span style="position: relative;bottom: 2px;">Agregar ruta</span>
			                		</button>              
			              		</div>
			            	</div>
			            
			          	</div>
			          	<div class="row mt">
			            	<div class="col-md-12">
			              		<dynamic-table [dataSel]="3"></dynamic-table> 
			            	</div>            
			        	</div>
			        	    
			        </div>
			        <div class="mt">
			            	<div class="width-400 float-right">
					            <p class="text-right">
					              <button class="btn btn-primary width-100 mb-xs" role="button" (click)="modalEdit.show()">
					                Editar
					              </button>
					              <button class="btn btn-danger width-100 mb-xs" role="button" (click)="deleteRoute()">
					                Eliminar
					              </button>                  
					              <button class="btn btn-danger width-100 mb-xs" role="button">
					                <i class="mdi mdi-file-pdf-box"></i>&nbsp;&nbsp;PDF
					              </button>
					            </p>
					          </div>           
			        	</div>                  
		        </div>
		    </section>		  
		</div>
	</div>
</div>
<div bsModal #modalCreate="bs-modal" class="modal fade createModal" tabindex="-1" role="dialog" aria-labelledby="Create Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column " style="align-items: left;">
                <h4 class="modal-title text-center fw-bold" id="myModalLabel18">Crear nueva ruta</h4>
        
      </div>
      <div class="modal-body"  style="color: #333;">
        <form class="form-horizontal" role="form">
          <fieldset>
            <div class="form-group row">
              
              <div class="col-md-12 ">
                <input type="text" id="nombreRuta" class="form-control" placeholder="Nombre de ruta">
              </div>
            </div>
            <div class="form-group row mt-1">
              
              <div class="col-md-12 ">
                <select class="selectpicker" data-style="form-control"
                        data-width="auto"
                        tabindex="-1" id="type-project-select" >
	                <option value="0">Tipo de ruta</option>
	                <option *ngFor="let routeType of routeTypes" [value]="routeType.value">{{routeType.name}}</option>
	                
                </select>
              </div>
            </div>
            
            
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalCreate.hide()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="createRoute()">Crear</button>
      </div>
    </div>
  </div>
</div>
<div bsModal #modalEdit="bs-modal" class="modal fade createModal" tabindex="-1" role="dialog" aria-labelledby="Edit Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column " style="align-items: left;">
                <h4 class="modal-title text-center fw-bold" id="myModalLabel18">Editar ruta</h4>
        
      </div>
      <div class="modal-body"  style="color: #333;">
        <form class="form-horizontal" role="form">
          <fieldset>
            <div class="form-group row">
              
              <div class="col-md-12 ">
                <input type="text" id="nombreRuta2" class="form-control" placeholder="Nombre de ruta">
              </div>
            </div>
            <div class="form-group row mt-1">
              
              <div class="col-md-12 ">
                <select class="selectpicker" data-style="form-control" data-width="auto" tabindex="-1" id="type-route-select2" >
	                <option value="0">Tipo de Ruta</option>
                  <option *ngFor="let routeType of routeTypes" [value]="routeType.value">{{routeType.name}}</option>
	                
                </select>
              </div>
            </div>
            
            
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modalEdit.hide()">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="editRoute()">Crear</button>
      </div>
    </div>
  </div>
</div>

