<header class="chat-sidebar-header chatTabs">
    <div class="clearfix">
      <ul class="nav nav-tabs float-left" id="chatTab" role="tablist">
        <li class="nav-item btn-xs mb-xs" (click)="tabSelector = 1">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#chat" role="tab" aria-controls="dispatch" aria-expanded="true">Chat</a>
        </li>
        <li class="nav-item btn-xs mb-xs" (click)="tabSelector = 2">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ptt" role="tab" aria-controls="dashboard" aria-expanded="false">PTT</a>
        </li>
              
      </ul>
    </div>
  </header>
<div class="chat-sidebar-content">
  <div class="tab-content mb-lg" id="chatTabContent">
    <div role="tabpanel" class="tab-pane" [ngClass]="{active: tabSelector == 1}" id="chat" aria-labelledby="chat-tab" aria-expanded="true">
      <header class="chat-sidebar-header">
        <h4 class="chat-sidebar-title">Contactos</h4>
        <div class="form-group m-0">
          <div class="input-group input-group-dark">
            <input class="form-control fs-mini" [(ngModel)]="searchText" type="text" placeholder="Buscar...">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
          </div>
        </div>
      </header>
      <div class="chat-sidebar-contacts chat-sidebar-panel" [ngClass]="{'open': !chatMessageOpened}">
        
        <div class="list-group chat-sidebar-user-group">
          <a *ngFor="let conversation of conversations.todayConversations | SearchPipe : searchText"
             (click)="deactivateLink($event); openConversation(conversation)"
             class="list-group-item">
            <span class="thumb-sm mr">
                <img class="rounded-circle" src="{{conversation.image}}" alt="...">
            </span>
            <div class="mr-auto">
              <h6 class="message-sender">{{conversation.name}}</h6>
              <p class="message-preview">{{conversation.lastMessage}}</p>
            </div>
            <i class="fa fa-circle ml-1 text-{{conversation.status}}"></i>
          </a>
        </div>        
      </div>
      <div chat-message [searchMessage]="searchText" [conversation]="activeConversation" [open]="chatMessageOpened" (chatMessageClosed)="chatMessageOpened = false"></div>
    </div>
    <div role="tabpanel" class="tab-pane" [ngClass]="{active: tabSelector == 2}" id="ptt" aria-labelledby="ptt-tab" aria-expanded="false">
      <div class="chat-sidebar-ptt">
        <h5 class="sidebar-nav-title">Today</h5>
        <div align="center">
          <div class="pttButton">            
            <a href="">
              <i class="mdi mdi-microphone"></i>
            </a>
          </div>        
        </div>
        <div class="list-group chat-sidebar-user-group">
          <a *ngFor="let conversation of conversations.todayConversations | SearchPipe : searchText"
             (click)="deactivateLink($event); openConversation(conversation)"
             class="list-group-item">
            <span class="thumb-sm mr">
                <img class="rounded-circle" src="{{conversation.image}}" alt="...">
            </span>
            <div class="mr-auto">
              <h6 class="message-sender">{{conversation.name}}</h6>
              <p class="message-preview">{{conversation.lastMessage}}</p>
            </div>
            <i class="fa fa-circle ml-1 text-{{conversation.status}}"></i>
          </a>
        </div>      
      </div>
    </div>
   
  </div> 
  
  
</div>
