@import "../../scss/helpers";

.chatTabs{

	padding: 0;
}

.tab-content {
	background-color: transparent;
}
.chat-sidebar-content {

	    padding-top: 43px;

}
 .tab-pane:not(.active) {
      display: none;
  }
 .tab-content > .tab-pane {
    padding: 0;
}
#chatTab {

	width: 100%;
	background-color: #3A3A3A;

	li {

		width: 50%;
		color:#686868;
		font-size: 18px;

		.nav-link{

			box-shadow: none;
			text-align: center;
		}
		.active {

			background-color: #242424;
			color: #949999;
		}

	}

	
}
.pttButton {

	width:50px;
	height:50px;
	background-color: white;
	border-radius: 50%;
	font-size: 50px;
}